@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Quicksand:wght@500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-family: 'Quicksand', sans-serif;
}

html
{
	height: 100%;
	max-height: 100%;
}

body
{
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}

#backgroundImage
{
	z-index: -1;
	width: 100%;
	height: 100%;
	position: fixed;
}

.container
{
	height: 100%;
	max-width: 100%;
	display: grid;
	grid-template-rows: 10% 80% 10%;
	grid-template-columns: 100%;
	grid-row-gap: 5px;
}

#menuItems
{
	margin: auto;
	width: 80%;
	height: 90%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,0.5);
	border-radius: 20px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#menuItems #itemsContainer
{
	height: 100%;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(10, 10%);
	/*column-gap: 1%;*/
}

.itemMenuIcons
{
	width: min(8vw,8vh);
	max-width: 100%;
	margin: auto;
	z-index: 10;
	/*filter: opacity(0%);*/
}

#menuCursor
{
	position: absolute;
	background: white;
	width: max(8vw,8vh);
	height: 100%;
	z-index: 5;
	border-radius: 50%;

}

#magnifyGlass
{
	border-radius: 20px;
	border: 3px solid white;
	width: 40%;
	height: 95%;
	top: 0;
	bottom: 0;
	left: 20px;
	overflow: hidden;
	/*right: 0;*/
	margin: auto;
	/*margin: auto 20px;*/
	/*margin-left: 20px;*/
	/*margin-top: 2%;*/
	background-repeat: no-repeat;
	position: absolute;
}

#winInfo
{
	visibility: hidden;
	width: 95%;
	margin: 0 auto;
	padding: 10px;
	background: rgba(255,255,255,0.1);
	border-radius: 20px;
	backdrop-filter: blur(5px);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	overflow: hidden;

	font-size: 2vw;

	display: grid;
	grid-template-areas:
	"logo name"
	"logo image"
	"description image"
	"description link"
	;
	grid-template-rows: 20% 30% 30% 20%;
	grid-template-columns: 40% 60%;
}

.infoLogo
{
	width: 60%;
	height: 100%;
	grid-area: logo;
	margin: auto;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	animation-name: animateLogo;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

@keyframes animateLogo
{
	0% { transform: translateY(0px); }
	50% { transform: translateY(5px); }
	100% { transform: translateY(0px); }
}

.infoDescription
{
	width: 95%;
	grid-area: description;
	text-align: center;
	display: flex;
	align-items: center;
	margin: 0 auto;
	font-size: 3.8vh;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.infoName
{
	width: 100%;
	grid-area: name;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.infoName .nameText
{
	margin: auto;
}

.infoImages
{
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	min-height: 0px;
	min-width: 0px;
	grid-area: image;
	overflow: hidden;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto auto;
}

.infoImages .aloneImg
{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 8px;
}

.infoImages .pairImg
{
	width: auto;
	height: auto;
	max-width: 89%;
	max-height: 100%;
	/*object-fit: scale-down;*/
	border-radius: 8px;
	margin: auto auto;
	aspect-ratio: 1/3;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.infoLink
{
	width: 100%;
	grid-area: link;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#contactMe
{
	display: flex;
	gap: 3%;
	justify-content: center;
	/*align-items: center;*/
}

#contactMe .bottomMenu
{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	font-size: 2vw;
	width: 5vw;
	height: 5vw;
	overflow: hidden;
	/*height: 60%;*/
	background: rgba(255,255,255,0.0);
	border: 1px solid white;
	border-radius: 50%;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#contactMe .bottomMenu img
{
	height: 60%;
	margin: auto;
	/*filter: invert(100%);*/
}

/*PSEUDO LANDSCAPE LAYOUT*/
@media screen and (max-aspect-ratio: 8/4)
{
	.infoDescription
	{
		font-size: 2vw;
	}
}

/*SQUARE LAYOUT*/
@media screen and (min-aspect-ratio: 9/16) and (max-aspect-ratio: 5/4)
{

	#menuItems
	{
		height: 9vw;
	}

	#winInfo
	{
		grid-template-areas:
		"logo description"
		"name name"
		"image image"
		"link link"
		;
		grid-template-rows: 40% 6% 48% 6%;
		grid-template-columns: 40% 60%;
	}

	#magnifyGlass
	{
		/*top: 20px;*/
		left: 0;
		right: 0;
		bottom: 0;
		top: -55%;
		margin: auto;
		height: 40%;
		width: 95%;
	}

	.infoLogo
	{
		width: 90%;
	}

	.infoDescription
	{
		margin: auto;
		font-size: min(3vw, 3vh);
	}

	.infoName
	{
		align-items: start;
		font-size: min(3vw, 3vh);
	}

	.infoLink
	{
		font-size: min(3vw, 3vh);
	}
}

/*PORTRAIT LAYOUT*/
@media screen and (max-aspect-ratio: 9/16)
{

	#menuItems
	{
		height: 60%;
		width: 90%;
	}

	#winInfo
	{
		grid-template-areas:
		"logo"
		"description"
		"name"
		"image"
		"link"
		;
		grid-template-rows: 20% 20% 5% 50% 5%;
		grid-template-columns: 100%;
	}

		#magnifyGlass
	{
		/*top: 20px;*/
		left: 0;
		right: 0;
		bottom: 0;
		top: -55%;
		margin: auto;
		height: 40%;
		width: 95%;
	}

	.infoDescription
	{
		margin: auto;
		font-size: min(3.5vw, 3.5vh);
	}

	.infoName
	{
		font-size: min(4vw, 4vh);
	}

	.infoLink
	{
		font-size: min(4vw, 4vh);
	}

}